<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<!-- Sakai Proxy bean: abstracts out the Sakai bits -->
    <bean id="org.sakaiproject.bbb.tool.SakaiProxy"
        class="org.sakaiproject.bbb.tool.SakaiProxy"
        init-method="init">
        <property name="BBBMeetingManager" ref="org.sakaiproject.bbb.api.BBBMeetingManager" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
        <property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
    </bean>
    
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.bbb.tool.entity.BBBMeetingEntityProvider">
        <property name="meetingManager" ref="org.sakaiproject.bbb.api.BBBMeetingManager" />
        <property name="userDirectoryService" ref="org.sakaiproject.user.api.UserDirectoryService" />
        <property name="siteService" ref="org.sakaiproject.site.api.SiteService" />
        <property name="idManager" ref="org.sakaiproject.id.api.IdManager" />
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
	</bean>

    <bean id="org.sakaiproject.bbb.tool.entity.BBBMeetingEntityProducer" 
        class="org.sakaiproject.bbb.tool.entity.BBBMeetingEntityProducer"
        init-method="init">
        <property name="meetingManager" ref="org.sakaiproject.bbb.api.BBBMeetingManager" />
    </bean>

</beans>
